*,
*::after,
*::before {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  margin: 25px 330px;
}
.header-list {
  list-style-type: none;
  color: red;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 18px;
}
.list-item {
  display: inline;
  margin: 0px 5px;
}
.image {
  background-image: url("./images/image_1.png") center center no-repeat;
  width: 100%;
  margin-bottom: 38px;
}
.content__title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
}
.content__text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.4px;
  margin: 28px 67px;
}
.button {
  text-align: center;
}
.first_button {
  display: inline-block;
  border: none;
  background-color: red;
  color: white;
  margin-top: 38px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 18px 43px;
  letter-spacing: 1.8px;
  margin-bottom: 82px;
  cursor: pointer;
}
.footer-span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-align: right;
  margin-right: 105px;
  margin-bottom: 29px;
}
